.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  z-index: 8
}
.logo{
  display: flex;
  align-items: flex-end;
}
.l{
  color: #026ab8;
}
.nav{
  display: flex;
  gap: 20px;
  margin-top: 26px;
}
.rout{
  color: white;
}
.vertical{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100vh;
  padding: 25px;
  background-color: white;
  transform: translateX(110%);
  transition: 0.7s;
  display: none;
  box-shadow: -2px 1px 7px 0px #00000026;
}
.icon{
  cursor: pointer;
  color: var(--main);
  display: none;
  margin-top: 18px;
  font-size: 35px;
}
.close{
  cursor: pointer;
  color: var(--main);
  border-radius: 5px;
  position: absolute;
  right: 20px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .nav{
    display: none;
  }
  .vertical{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .icon{
    display: block;
  }
}
@media (max-width: 557px) {
  .vertical{
    width: 65%;
  }
}
.active{
  color: var(--main);

}