.contact{
margin: 50px 0;
}
.cont{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
}
@media (max-width: 991px) {
  .cont{
    grid-template-columns: 1fr;
  }
}
.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box{
  display: flex;
  gap: 15px;
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main);
}
.addres{
  font-size: 14px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}