.landing{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  align-items: center;
  z-index: 6;
}
.text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img{
  width: 100%;
}
@media (max-width: 991px) {
  .landing{
    grid-template-columns: 1fr;
  }
}
.social{
  display: flex;
  gap: 18px;
  align-items: center;
  margin: 100px 0;
  z-index: 9;
  position: relative;
  font-size: 14px;
}
.icosocial{
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  color: #086dbc;
}
@media (max-width: 767px) {
  .social{
    display: none;
  }
}
.icosocial:hover{
  color: var(--main);
}
.container{
  background-color: var(--trans);
  margin-top: 200px;
  padding-bottom: 30px;
}
.cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  top: -75px;
}
@media (max-width: 991px) {
  .cont{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .cont{
    grid-template-columns: 1fr;
  }
}
.box{
  overflow: hidden;
}
.Text{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  background: white;
  top: -26px;
  left: 20px;
  padding: 20px;
  padding-right: 40px;
  border-left: 1px solid #eee;
}

.stats{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 0;
}
@media (max-width: 766px) {
  .stats{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 577px) {
  .stats{
    grid-template-columns: 1fr;
  }
}
.statbox{
  padding-left: 15px;
  border-left: 1px solid #7777776b;
}
.number{
  font-size: 22px;
  color: var(--main);
  margin-bottom: 10px;
}

